*.log
*.sw*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
Icon

.cabal*
.shake*
cabal*
dist/
node_modules/

etc/test/vendor/chai*
etc/test/vendor/mocha*
etc/test/vendor/sinon*
etc/test/vendor/should*

etc/test/browserstack.json
